#main-title {
    margin-top: 70px;
    display: flex;
    text-align: center;
}

#description {
    text-align: center;
    margin: 20px;
    line-height: 2em;
    font-weight: 400;
    font-size: 1em;
    color: #6B708D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero-buttons {
    display: flex;
    justify-content: center;
}

#hero-buttons .project-btn {
   margin-left: 20px;
   background-color: #F2F4FC; 
   border: none;
}

#hero-section {
    /*border: 1px solid blue;*/
    max-width: 90vw;
    height: 450px;
    background-image: url(./images/hero-section/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;   
}

#card-1 {
    width: 190px;
    height: 216px;
    position: absolute;
    left: 0;
}

#card-2 {
    width: 190px;
    height: 193px;
    position: absolute;
    bottom: 10px;
    right: 0;
}

#brands {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px;
    flex-wrap: wrap;
}

.logo {
 padding: 5px;
 margin: 5px;
 filter: grayscale(100%);
}

#projects {
    margin: 50px 20px;
}

#projects article{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    background-color: #F4F6FC;
    margin: 20px 0;
    padding-bottom: 10px;
    box-shadow: 
}

.project-title {
    font-weight: 700;
    margin-top: 10px;
}

.project-type {
    color: #6B708D;
}
.learn-more {
    background-color: #F4F6FC;
    border: none;
    color: #072AC8;
}
#projects article img {
    height: auto;
    width: 100%;
}
#testimonial {
    background-color: #292E47;
    background-image: url(./images/testimonial-section/oribit.png);
    width: 100%;
    height: 300px;
    padding: 0px;
}

#testimonial-content {
    display: flex;
    flex-flow: column wrap; 
    text-align: center;
}

#testimonial-content h3 {
    color: #F4F6FC;
}

#review {
    color: #FFC600;   
}

#circle-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(./images/testimonial-section/profile.png);
    background-size: cover;
    background-position: center center;
}

#testimony-name {
    color: #A2D6F9;
    font-size: 12px;
}

#testimony-company {
    color: #F2F4FC;
    font-size: 11px;
}

#emojis .emoji {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden; 
}
