@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    font-family: 'Roboto';
    background-color: #F2F4FC;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
}
h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #F2F4FC;
    z-index: 10;
}   
.nav-bar-ul {
    display: flex;
}

.nav-bar-li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
    font-weight: 700;
}

.contact-btn, .submit-btn {
    font-weight: 500;
    font-size: 0,75rem;
    background-color: #072AC8;
    color: white;
    border-style: none;
    padding: 8px;
}


.contact-btn a {
    color: white;
}

img {
    overflow: hidden;
}

/*CTA Section*/

#CTA-section {
    color: #292E47;
    height: 200px;
    background-color: #FFC600;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

#CTA-section p {
    padding: 10px ;
}

#input-container {
    position: relative;
}

#email-icon {
    font-size: 10px;
    padding: 11px 5px;
    position: absolute;
}

#CTA-section input {
    width: 180px;
    height: 30px;
    padding-left: 40px;
    margin: 10px 0 20px;
    border-style: none;
}

/*Footer*/

footer {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    color: #6B708D;
    font-size: 14px;
    width: 100%;
}

#left-footer {
    width: 125px;
    line-height: 30px;

}

address {
    font-style: normal;
}

#right-footer {
    line-height: 20px;
}

@media (min-width: 768px) and (max-width: 1999px) {

    h3 {
        font-size: 1.5rem;
    }

    #CTA-section {
        height: 350px;
        place-content: center;
        padding: 0;
        margin-bottom: 100px;
    }

    #input-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    #CTA-section input {
        width: 180px;
        height: 50px;
        padding-left: 50px;
    }

    .submit-btn {
        height: 50px;
        width: 100px;
        margin: 10px 0 0 10px;
    }

    #email-icon {
        position: relative;
        top: 8px;
        left: 45px;
    }

    #left-footer {
        width: auto;
    }

    #right-footer ul {
        display: grid;
        grid-template-columns: 5em 100px 40%;
        grid-template-rows: 50px auto;
        gap: 10px;
    }
}

@media (min-width: 1200px) {

    body {
        font-size: 17px;
    }

    h3 {
        font-size: 40px;
    }

    .contact-btn {
        width: 150px;
        padding: 15px 0;
    }

    #CTA-section {
        height: 500px;
    }

    #CTA-section p {
        font-size: 20px;
        margin-top: 20px;
    }

    #CTA-section input {
        height: 80px;
        width: 393px;
    }

    #input-container ::placeholder {
        font-size: 17px;
        padding-left: 10px;
    }

    .submit-btn {
        height: 80px;
        width: 198px;
        margin: 10px 0 0 20px;
        font-size: 17px;

    }

    #email-icon {
        top: 23px;
        left: 50px;
    }

    .nav-bar {
        justify-content: space-between;
    }

    #nav-logo {
        margin-left: 140px;
    }

    .nav-bar-li {
        font-size: 17px;
        margin: 0 60px;
    }

    nav .contact-btn {
        margin-right: 140px;
        font-size: 17px;
    }

    footer {
        justify-content: space-between;
        font-size: 17px;
    }
}