body {
    position: relative;
    min-height: 100vh;
    margin: 0 20px;
    padding-bottom: 15em;
    color: #6B708D;
    box-sizing: border-box;
}

#contact-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    align-items: center;
}

#contact-form h1 {
    margin-bottom: 20px;
    color: #292E47;
}

#form-container {
    position: relative;
}

#form-container div {
    margin: 10px 0;
}

.label {
    font-weight: 700;
}

.input {
    border-style: none;
    height: 10px;
    width: 310px;
    background-color: #E5E5E5;
    font-family: 'Roboto';
    padding: 10px;
}

#textarea {
    height: 100px;
}

.submit-btn {
    width: 330px;
}

footer {
    position: absolute;
    margin-top: 250px;
    width: 100%;
}

@media (min-width: 768px) {
    body {
        margin: 0 60px ;
        font-size: 20px;
    }

    #contact-form {
        margin-top: 150px;
        align-items: center;
        line-height: 40px;
    }

    #form-container {
        width: 500px;
    }

    .input {
        width: 500px;
        height: 30px;
        font-size: 17px;
    }

    .submit-btn {
        width: 500px;
        padding: 15px;
        font-size: 17px;
    }
}

@media (min-width: 1200px) {

    body {
        margin: 0 140px;
        justify-content: center;
        min-height: 100vh;
    }

    #contact-form h1 {
        font-size: 60px;
        margin-bottom: 80px;
        color: #292E47;
        padding-right: 700px;
    }

    #form-container {
        width: 1000px;
    }

    .label {
        font-weight: 500;

    }
    
    .input {
        width: 1000px;
        height: 70px;
        font-size: 17px;
        padding-left: 20px;
    } 

    #textarea {
        height: 200px;
    }

    .submit-btn {
        width: 1000px;
        height: 70px;
        margin: 0;
    }

    #double-input {
        display: flex;
        justify-content: space-between;
    }

    #email-input {
        margin-right: 40px;
        width: 450px;
    }

    #phone-input {
        width: 450px;
    }

    #textarea {
        padding-top: 20px;
    }
}
